# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env
bin/
include/
lib/
share/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db

# Project Specific Large Files & Temp Dictionaries
iuc-rag-chatbot/vectordb/
iuc-rag-chatbot/models/
iuc-rag-chatbot/data/processed/
*.pkl
*.log

# Tests and Analyses Folder (Exclude temp scripts and text outputs from Git)
iuc-rag-chatbot/tests_and_analyses/

